.container {
  width: 500px;
  margin: 20px auto;
}

.BoardList {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  text-align: center;
}

.BoardButton {
  width: 300px;
  margin: 5px auto;
}
